/* 
  color:#D49591; (muddy pink)
  color: #5F5061; (muddy purple)
  color:#47444B; (muddy gray-blueish)
  color: #8A6D58; (mocha)
  color: #D8BCAB; (pale pink, very light)
  font-family: 'Rufina', serif;
  font-family: 'PT Serif', serif; 
  font-family: 'Playfair Display', serif;
*/

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* font-size: 30px; */
    color:#5f5061;
}

ul {
    list-style: none;
}


@import url('https://fonts.googleapis.com/css?family=PT+Serif|Rufina:700|Playfair+Display:400,700');

.MT-first-sec{
    margin-top: 60px;
}

.MT-second-sec{
    margin-top: 70px;
}

.date h2 {
    color: #D49591;
    padding-right: 10px;
    font-size: 3em;
    text-align: center;
    margin: 0;
    padding: 0;
}
.date p{
    color: #5F5061;
    padding-right: 10px;
    font-size: 2em;
    text-align: center;
    margin: 0;
    padding: 0;
}

.media-body {
    border-left: 2px solid #D49591;
    padding-left: 15px;
    margin-left: 25px;
    margin-bottom: 40px;
}

.event-sec{
    background: #ffffff;
    padding: 30px;
    margin-bottom: 50px;
}

.big-link-prevent{
    background-image: url(./assets/big-links_0000.jpg);
    background-repeat:no-repeat; 
    background-size: cover;
    border: none;
    width: 360px;
    height: 230px;
}
.big-link-involved{
    background-image: url(./assets/big-link_0001.jpg);
    background-repeat:no-repeat; 
    background-size: cover;
    border: none;
    width: 360px;
    height: 230px;
}
.big-link-resources{
    background-image: url(./assets/big-link_0002.jpg);
    background-repeat:no-repeat; 
    background-size: cover;
    border: none;
    width: 360px;
    height: 230px;
}

.big-link-prevent button, .big-link-resources button, .big-link-involved button {
    position: absolute;
    /* margin-top:30px; */
    background: rgba(71, 68, 75, 0.7);
    border: none;
    width: 100%;
    border-radius: 0;
    bottom: 0;
    font-size: 1.5em;
}


.big-link-resources.card-body, .big-link-prevent.card-body, .big-link-involved.card-body {
    padding: 0;
}


/* .card {
    background-color: #D8BCAB !important;
} */

.card-title, p.card-text  {
    color: #fff;
    text-align: center;
}

 form.search-form {
    border-radius: 2px !important;
    padding: 6px 20px;
    position: relative;
    margin-left: 20px;
}
/* button.search.button {
    border: 1px solid #D49591;
    margin-left: 10px;
    border-radius: 2px;
} */
img.logo-main {
    position: relative;
    bottom: 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}



.carousel-img{
    width:100%;
}
.home-container {
    background-color: rgb(243, 245, 247);
  
}

.prevention-container {
    /* height: 100vh; */
}

/* Resources Page Styles ///////////////////////////////////////// */
.resources-img {
    height: 330px;
    width:100%; 
    margin-bottom: 60px;
}

.resources-img-2{
    height: 330px;
    width:100%;
    margin-top:70px;
  
}


.resources-container {
    background-color: lightpink;
    height: 100vh;
}


/* Involved Page Styles ///////////////////////////////////////// */

p.involved-para.MT-first-sec {
    text-align: center;
    padding: 0 40px;
    font-size: 1.4em;
    margin-bottom: 60px;
}

.volunteer-img{
    width: 100%;
    margin:0 auto;
    opacity: .3;
    object-fit: cover;
    object-position: 50% 62%;
    height: 350px;
    
}

.module-border-wrap {
  background: linear-gradient(to left, #D49591, #5F5061);

}

.involved-container  .list-group {
    margin-bottom: 65px !important;
}

li.list-group-item {
    margin-bottom: 25px;
    border-radius: 3px;
}

.involved-container .list-group-item {
   border-color: #5f506153;
}

/* li.list-group-item:nth-child(even) {
   background:#fbeae9;
}

li.list-group-item:nth-child(odd) {
   background:#e0c8c7;
} */
h5.list-group-item-heading {
    color: #47444B;
}

span.form-heading {
    font-size: 1.6em;
    font-weight: 600;
}

h5.list-group-item-heading {
    color: #ffffff;
    background: linear-gradient(to left, rgba(212, 149, 145, 0), #5F5061);
    padding: 6px;
    border-radius: 3px;
    font-weight: 100;
    position: relative;
    width: 65%;
}

.involved-container form h2 {
    font-size: 2.3em;
    letter-spacing: 0;
    font-weight: 100;
    color: #fff;
    background: #5f5061;
    padding: 7px;
    border-radius: 3px;
}


/* Footer ///////////////////////////////////////// */
.footer .nav{
    background: #47444B;
}

.footer li.nav-item a {
    font-size: 1em;
    font-family: Open Sans, sans-serif;
    transition: .3s;
}
.footer li.nav-item a:hover {
    color: #D49591;
}

aside.ScrollUpButton__Container.ScrollUpButton__Toggled {
    border: 3px solid #D49591 !important;
}



/* ////////////////////////////////////NAV ///////////////////////////////////////// */


.nav {
    height: 85px;
    background: #D49591;
}
ul.nav {
    position: relative;
    margin: 0 auto;
    padding: 15px 0;
}

.nav {
    height: 75px;
    background: #D49591;
}
.nav-item a {
    color: #ffffff;
    font-size: 1.4em;
    letter-spacing: .5px;
    font-family: 'Playfair Display', serif;
    transition: .3s;
    margin: 0 15px;
}

li.nav-item a:hover {
    color: #47444B;
    text-decoration: none;
}

.nav-item a.active {
    color: #47444B;
   
}

button.search.button:hover {
    background: rgb(215, 197, 197);
}

button.search.button {
    transition: .3s;
}

/* //////////////////////Contact */

.contact-container {
    background-color: #5F5061 ;  
}
.contact-container input {
    border-radius: 5px;
    margin: 5px 10px;
    border: none;
}


.contact-form {
    padding: 30px;  
}




.text-area {
    width: 70vh;
    height: 30vh;
}

.app-container form.contact-form h2, .app-container form.contact-form h5 {
    color: #ffffff;
}



.checkbox {
    padding:10px;
}




/* ////////////////////////Search ///////////////////////////// */

.search-container {
    padding: 20px;
    box-shadow: 0px 0px .5px 0px rgba(0,0,0,0.75);
    
}

.search-form {
    width: 100%;
}

.selector {
    width: 20vw;
    height: 3vh;
    margin-bottom: 20px;
    text-align: center;
    
}

button.search.button {
    color: white;
    background: #47444B;
    margin-left: 10px;
    border-radius: 12px;
    
}

.search-img {
    width: 25%;
    background-color: lightgray;
    /* padding: 10px; */
    border-radius: 3px;
}


.home-search {
    align-items: center;
}


.searchlist {
    margin-bottom: 20px;
}
/* ///////////////////Landing //////////////////////////////////////// */

.landing-container {
    margin: 40px;
    position: relative;
}

.landing-container > .background {
    background-image: url('https://images.unsplash.com/photo-1547647458-3d70e38a0f4c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80');
    /* background-image: url('https://images.unsplash.com/photo-1444459094717-a39f1e3e0903?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80'); */
    height: 70vh;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);

}

.landing-container > .landing-header, .landing-footer {
    Font-Family: 'Abril Fatface', Cursive;
    Font-Size: 68px;
    word-spacing: 30px;
    letter-spacing: 8px;
    color: #132305;
    /* margin: 30px; */
}

.landing-container > .landing-footer {
    float: right;
}

.button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    text-align: center;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #d14454;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    Font-Family: 'Poppins', Sans-Serif;
    Font-Size: 44px;
    text-decoration: none;

   
}

.button-container a {
   color: whitesmoke;
   text-decoration: none;
}

.button-container:hover {
    background-color: rgb(97, 9, 9);
    text-decoration: none;
    
}

.button-container a:hover {
    color: #0056b3;
    text-decoration: none;
}

.danger-form {
    margin: 20px;
}

/* ///////////////////Landing //////////////////////////////////////// */

/* ///////////////////////////CHATBOT///////////////////////////////////////////// */
.app {
    border: 2px grey solid;
    width: 100%;
    /* padding: 10px; */
    height: 699px;
    box-shadow: 0px 0px .5px 0px rgba(0,0,0,0.75);
    overflow-y: scroll;
    position: relative;
}

.userMessage, .message {
    /* background: yellow; */
    margin: 15px 0;
    padding: 0px 5px;
}
.userMessage .userMessage-username {
    font-size: 11px;
    color: #3e5869;
    opacity: 0.9;
    /* margin-bottom: 6px; */
}

 .userMessage .message-text  {
    background: #5ea3d0;
    color: white;
    display: inline;
    padding: 10px 8px 5px 5px;
    border-radius: 8px;
}


.message {
    margin: 15px 0;
}

.message .message-username  {
    font-size: 11px;
    color: #3e5869;
    opacity: 0.9;
    margin-bottom: 6px;
}
.message .message-text  {
    background: #5ea3d0;
    color:  white;
    display: inline;
    padding: 5px 5px 15px 15px;
    border-radius: 8px;
}

.message-list, {
    box-sizing: border-box;
    padding-left: 6px;
    width: 100%;
    height: 100%;
    overflow: scroll;
    background: white;
}


.send-message-form {
    display: flex;
    bottom: 0;
}
.send-message-form input {
    background: #F5F5F5;
    display: flex;
    width: 100%;
    padding: 15px 10px;
    border-style: none;
    font-size: 20px;
    position: absolute;
    bottom: 0px;
    
}

.send-message-form input:focus {
    outline-width: 0;
}

.send-message-form input::placeholder {
    color:#5ea3d0;
}

.chatbot-header {
    background-color: #5F5061;
    width: 100%;
    color: white;
    font-size: 20px;
    padding: 10px;
}

/* ///////////////////////////CHATBOT///////////////////////////////////////////// */