/* 
  color:#D49591; (muddy pink)
  color: #5F5061; (muddy purple)
  color:#47444B; (muddy gray-blueish)
  color: #8A6D58; (mocha)
  color: #D8BCAB; (pale pink, very light)
  font-family: 'Rufina', serif;
  font-family: 'PT Serif', serif; 
  font-family: 'Playfair Display', serif;
font-family: 'Dancing Script', cursive;
font-family: 'Homemade Apple', cursive;
font-family: 'Amatic SC', cursive;
*/
@import url('https://fonts.googleapis.com/css?family=PT+Serif|Rufina:700|Playfair+Display:400,700');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC:700');

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* font-size: 30px; */
    
}
body {
    background-color: rgb(243, 245, 247);
    
}

div{
color:#5f5061;
}

ul {
    list-style: none;
}

.MT-first-sec{
    margin-top: 60px;
}

.MT-second-sec{
    margin-top: 70px;
}


/* Home page style------------------------------- */
.carousel-caption.d-none.d-md-block p {
    display: none;
}

.carousel-caption.d-none.d-md-block {
    /* font-size: 3em; */
    /* background: #ffffff63;
    border-radius: 5px; */
}

.photo-home{
    background-image: url(./assets/photo-home.jpg);
    background-repeat:no-repeat; 
    background-size: cover;
    border: none;
    width: 100%;
}

.carousel-caption.d-none.d-md-block h3 {
    font-size: 5em;
    border-radius: 5px;
    color: #fff;
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
}
.date h2 {
    color: #D49591;
    padding-right: 10px;
    font-size: 3em;
    text-align: center;
    margin: 0;
    padding: 0;
}
.date p{
    color: #5F5061;
    padding-right: 10px;
    font-size: 2em;
    text-align: center;
    margin: 0;
    padding: 0;
}

.media-body {
    border-left: 2px solid #D49591;
    padding-left: 15px;
    margin-left: 25px;
    margin-bottom: 40px;
}
.media-heading {
    color: #f7f7f7;
    background: linear-gradient(to left, rgba(212, 149, 145, 0), #5F5061);
    padding: 6px;
    border-radius: 3px;
    font-weight: 100;
    position: relative;
    width: 90%;
    padding-right: 90px;
}
.event-sec{
    background: #ffffff;
    padding: 30px;
    margin-bottom: 50px;
}

.big-link-prevent{
    background-image: url(./assets/big-links_0000.jpg);
    background-repeat:no-repeat; 
    background-size: cover;
    border: none;
    width: 360px;
    height: 230px;
}
.big-link-involved{
    background-image: url(./assets/big-link_0001.jpg);
    background-repeat:no-repeat; 
    background-size: cover;
    border: none;
    width: 360px;
    height: 230px;
}
.big-link-resources{
    background-image: url(./assets/big-link_0002.jpg);
    background-repeat:no-repeat; 
    background-size: cover;
    border: none;
    width: 360px;
    height: 230px;
}

.big-link-prevent a, .big-link-resources a, .big-link-involved a {
    position: absolute;
    /* margin-top:30px; */
    background: rgba(71, 68, 75, 0.7);
    border: none;
    width: 100%;
    border-radius: 0;
    bottom: -1px;
    font-size: 1.5em;   
    font-family: 'Amatic SC', cursive;
    /* font-weight: 700; */
}


.big-link-resources.card-body, .big-link-prevent.card-body, .big-link-involved.card-body {
    padding: 0;
}

.resources-container h1 {
    color: #ffffff;
    background: linear-gradient(to left, rgba(212, 149, 145, 0), #5F5061);
    padding: 6px;
    border-radius: 3px;
    font-weight: 100;
    position: relative;
    width: 100%;
}

.resources-container h1 + p {
    margin-bottom: 40px;
}

.resources-container h2{
    font-weight: 100;
    margin-bottom: 2px;
}

.card {
    border:none;
}


.card-title, p.card-text  {
    color: #fff;
    text-align: center;
}

 form.search-form {
    border-radius: 2px !important;
    padding: 6px 20px;
    position: relative;
    margin-left: 20px;
}
/* button.search.button {
    border: 1px solid #D49591;
    margin-left: 10px;
    border-radius: 2px;
} */
img.logo-main {
    position: relative;
    bottom: 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}



.carousel-img{
    width:100%;
}
.home-container {
    background-color: rgb(243, 245, 247);
  
}

/* Prevention Page Styles ///////////////////////////*/

.prevention-container >li {
    font-style: italic;
}
.prevention-container .container h1 {
    color: #ffffff;
    background: linear-gradient(to left, rgba(212, 149, 145, 0), #5F5061);
    padding: 6px;
    border-radius: 3px;
    font-weight: 100;
    position: relative;
    width: 100%;
    margin-bottom: 50px;
}
.prevention-container .last-section {
    margin-top: 0;
}

.counter-container{
    position: relative;
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 850px;
    bottom: 350px;
    margin: 0 auto;

}

.counter-container p{ 
   color: rgb(239, 190, 187);
   font-weight: 100;
   text-align: center;
   line-height: 1.2em;
   position: relative;
    bottom: 8px;
    text-shadow: 1px 1px 2px #000;

}

.counter-box-1 button{
    margin: 0 auto;

}
.counter-box-1{
    width: 210px;
    height: 210px;
    position: absolute;
    left:0;
    margin-left: 90px;
    border-radius: 5px;
    padding: 0 20px 0;
    background: rgba(95,80,97,0.8);


}
.counter-box-2{
    width: 210px;
    height: 210px;
    position: absolute;
    border-radius: 5px;
    padding: 0 20px 0;
    background: rgba(95,80,97,0.8);
}

.counter-box-3{
    width: 210px;
    height: 210px;
    position: absolute;
    border-radius: 5px;
    right:0;
    margin-right: 90px;
    padding: 0 20px 0;
    background: rgba(95,80,97,0.8);
}
.num-count{
    font-size: 4em;
    font-weight: 600;
    position: relative;
    bottom: 10px;
    text-shadow: 1px 1px 2px #000;
    color: #f37777;

}
.stat-end{
    font-size: 1.1em;
    line-height: 1.2em;
}

.stat-begin{
    font-size: 1.4em;
    line-height: 4em;
    font-weight: 600;
}


/* Resources Page Styles ///////////////////////////////////////// */
.resources-img {
    /* height: 350px; */
    width: 100%;
    margin: 0 auto;
    object-fit: cover;
    object-position: 50% 62%;
    height: 350px;
    margin-bottom: 60px;
    /* border-bottom: 8px solid #D49591; */
    
}

.resources-img-2{
    /* height: 330px; */
    width:100%;
    margin-top:70px;
}

.resources-container ul {
    padding-left: 0;
}


.resources-container {
    /* background-color: lightpink;
    height: 100vh; */
}



/* Involved Page Styles ///////////////////////////////////////// */

p.involved-para.MT-first-sec {
    text-align: center;
    padding: 0 40px;
    font-size: 1.4em;
    margin-bottom: 60px;
}

.volunteer-img{
    width: 100%;
    margin:0 auto;
    
    object-fit: cover;
    object-position: 50% 62%;
    height: 350px;
    
}

/* .module-border-wrap {
  background: linear-gradient(to left, #D49591, #5F5061);

} */

.involved-container  .list-group {
    margin-bottom: 65px !important;
}

li.list-group-item {
    margin-bottom: 25px;
    border-radius: 3px;
}

.involved-container .list-group-item {
   border-color: #5f506153;
}

/* li.list-group-item:nth-child(even) {
   background:#fbeae9;
}

li.list-group-item:nth-child(odd) {
   background:#e0c8c7;
} */
h5.list-group-item-heading {
    color: #47444B;
}

span.form-heading {
    font-size: 1.6em;
    font-weight: 600;
}

h5.list-group-item-heading {
    color: #ffffff;
    background: linear-gradient(to left, rgba(212, 149, 145, 0), #5F5061);
    padding: 6px;
    border-radius: 3px;
    font-weight: 100;
    position: relative;
    width: 100%;
}

.involved-container form h2 {
    font-size: 2.3em;
    letter-spacing: 0;
    font-weight: 100;
    color: #fff;
    background: #5f5061;
    background: linear-gradient(to left, rgba(212, 149, 145, 0), #5F5061);
    padding: 7px;
    border-radius: 3px;
}


/* /////////////////////Footer ///////////////////////////////////////// */

.last-section p, .last-section li,.last-section h3, .last-section h2{
    color: #f7f7f7;
    font-weight: 100;
    margin-right: 15px;

}

.last-section h3, .last-section h2{
    color: #D49591;
}

.pplgrid{
    background-image: url(./assets/pplgrid.jpg);
    background-repeat:no-repeat; 
    background-size: cover;
    border: none;
    width: 100%;
    /* height: 130px; */
    border-bottom: 2px solid #000;
}

.copyrightInfo li{
    
    padding:25px 25px;
    /* margin:0 50px; */
}

.copyrightInfo{
    width: 100%;
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-bottom: 0;
    
    
}
.rborder{
    border-right: 2px solid rgb(86, 84, 83);
    margin-right:1em;
    padding: 0 !important;
}
span.sec-num {
    margin-left: 20px;
}
.last-section ul {
    padding: 0;
}  

.last-section ul li {
    display: inline-block;
    margin-right: 20px;
}

.footer .nav, .footer .copyrightInfo{
    background: #252424;
}

.footer li.nav-item a {
    font-size: 1em;
    font-family: Open Sans, sans-serif;
    transition: .3s;
}
.footer li.nav-item a:hover {
    color: #D49591;
}
.facebook{
    background-image: url(./assets/facebook.png);
    background-repeat:no-repeat; 
    background-size: cover;
    border: none;
    width: 20px;
    height: 20px;
    margin-right: 15px;
    /* border-radius: 4px; */
    padding: 0;
    background-color: transparent;
    transition: .3s;
}

.facebook:hover {
    opacity: .3;
}

.linkedin{
    background-image: url(./assets/linkedin.png);
    background-repeat:no-repeat; 
    background-size: cover;
    border: none;
    width: 20px;
    height: 20px;
    margin-right: 15px;
    /* border-radius: 4px; */
    padding: 0; 
    transition: .3s;
    background-color: transparent;
}

.linkedin:hover {
    opacity: .3;
    background-color: transparent;
}
.twitter{
    background-image: url(./assets/twitter.png);
    background-repeat:no-repeat; 
    background-size: cover;
    border: none;
    width: 20px;
    height: 20px;
    margin-right: 15px;
    /* border-radius: 4px; */
    padding: 0;
    transition: .3s;
    background-color: transparent;
}

.twitter:hover {
    opacity: .3;
    background-color: transparent;
}

aside.ScrollUpButton__Container.ScrollUpButton__Toggled {
    border: 3px solid #D49591 !important;
}
img.logo-main-footer {
    position: relative;
    bottom: 7px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    
}
.last-section {
    background: #47444B;
    padding: 30px 0;
    margin-top: 60px;
}


/* ////////////////////////////////////NAV ///////////////////////////////////////// */


.nav {
    height: 85px;
    background: #D49591;
}
ul.nav {
    position: relative;
    margin: 0 auto;
    padding: 15px 0;
}

.nav {
    height: 75px;
    background: #D49591;
}
.nav-item a {
    color: #ffffff;
    font-size: 1.4em;
    letter-spacing: .5px;
    font-family: 'Playfair Display', serif;
    transition: .3s;
    margin: 0 15px;
}

li.nav-item a:hover {
    color: #47444B;
    text-decoration: none;
}

.nav-item a.active {
    color: #47444B;
   
}

button.search.button:hover {
    background: rgb(215, 197, 197);
}

button.search.button {
    transition: .3s;
}

/* //////////////////////Contact //////////////////////////////// */


.danger-form h5{
    margin-top:15px;
}

.contact-page h2 {
    text-align: center;
    line-height: 1.3em;
    margin-bottom: 35px;
    font-family: 'Playfair Display', serif;
}

/* .contact-page h4{
    font-family: 'Playfair Display', serif;
} */

.danger-form p{
    font-size:1.2em
}

.danger-form button {
    margin-top: 20px;
}
.contact-page{
    margin-bottom: 70px;
}
.contact-container {
    background-color: rgb(243, 245, 247); 
    
}
.contact-container input {
    border-radius: 3px;
    /* margin: 5px 10px; */
    border: none;
}


.contact-form {
    /* padding: 30px;   */
    /* box-shadow: 0px 0px .5px 0px rgba(0,0,0,0.75); */
    margin-bottom: 45px;
}

.contact-form input {
    padding: 10px 20px;
    margin-bottom: 25px;
    width: 90%;
}


.text-area {
    width: 70vh;
    height: 30vh;
   
}

.app-container form.contact-form h2, .app-container form.contact-form h5 {
    /* color: #ffffff; */
}



.checkbox {
    padding:20px;
}

.danger-form form h5, h2 {
    /* color: #fff; */
}

.danger-form {
   width: 100%;

}

.contact-button {
    color: white;
    background: #47444B;
    margin-left: 10px;
    border-radius: 12px;
    margin-right: 80px;
    margin-bottom: 30px;
    padding: 10px;
}



/* ////////////////////////Search ///////////////////////////// */

.search-container {
    padding: 20px;
    box-shadow: 0px 0px .5px 0px rgba(0,0,0,0.75);
    
}

.search-container h1{
    font-size: 2rem;
    background: #5F5061;
    color: #fff;
}

.search-form {
    width: 100%;
}

.selector {
    width: 20vw;
    height: 3vh;
    margin-bottom: 20px;
    text-align: center;
    
}

button.search.button {
    color: white;
    background: #47444B;
    margin-left: 10px;
    border-radius: 12px;
    
}

.search-img {
    width: 25%;
    background-color: lightgray;
    /* padding: 10px; */
    border-radius: 3px;
}


.home-search {
    align-items: center;
}


.searchlist {
    margin-bottom: 20px;
}
/* ///////////////////Landing //////////////////////////////////////// */

.landing-container {
    margin: 40px;
    position: relative;
}

.landing-container > .background {
    background-image: url('https://images.unsplash.com/photo-1500651230702-0e2d8a49d4ad?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
    /* background-image: url('https://images.unsplash.com/photo-1444459094717-a39f1e3e0903?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80'); */
    height: 70vh;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);

}

.landing-container > .landing-header, .landing-footer {
    Font-Family: 'Abril Fatface', Cursive;
    Font-Size: 68px;
    word-spacing: 30px;
    letter-spacing: 8px;
    color: #132305;
    /* margin: 30px; */
}

.landing-container > .landing-footer {
    float: right;
}

.button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    text-align: center;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #d14454;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    Font-Family: 'Poppins', Sans-Serif;
    Font-Size: 34px;
    text-decoration: none;

   
}

.button-container a {
   color: whitesmoke;
   text-decoration: none;
}

.button-container:hover {
    background-color: rgb(97, 9, 9);
    text-decoration: none;
    
}

.button-container a:hover {
    color: #0056b3;
    text-decoration: none;
}

.danger-form {
    margin: 20px;
    margin-top: 0;
}

.modal {
    visibility: hidden;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 4px;
    margin: 0 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    transform: scale(0.5)
}

.password {
    width: 200px;
}

/* ///////////////////Landing //////////////////////////////////////// */

/* ///////////////////////////CHATBOT///////////////////////////////////////////// */
.app {
    border: 2px grey solid;
    width: 100%;
    height: 100vh;
    box-shadow: 0px 0px .5px 0px rgba(0,0,0,0.75);
    overflow-y: scroll;
    position: relative;
   
}



.userMessage, .message {
    margin: 15px 0;
    padding: 0px 5px;
}
.userMessage .userMessage-username {
    font-size: 11px;
    color: #3e5869;
    opacity: 0.9;
    /* margin-bottom: 6px; */
}

 .userMessage .message-text  {
    background: #5ea3d0;
    color: white;
    display: inline;
    padding: 10px 8px 5px 5px;
    border-radius: 8px;
}


.message {
    margin: 15px 0;
}

.message .message-username  {
    font-size: 11px;
    color: #3e5869;
    opacity: 0.9;
    margin-bottom: 6px;
}
.message .message-text  {
    background: #5ea3d0;
    color:  white;
    display: inline;
    padding: 5px 5px 15px 15px;
    border-radius: 8px;
}

.message-list {
    box-sizing: border-box;
    padding-left: 6px;
    width: 100%;
    height: 100%;
    overflow: scroll;
    background: white;
}


.send-message-form {
    display: flex;
    bottom: 0;
    position: sticky;
    margin-top: 82vh;
}
.send-message-form input {
    background: #F5F5F5;
    display: flex;
    width: 100%;
    padding: 15px 10px;
    border-style: none;
    font-size: 20px;
    /* position: absolute; */
    bottom: 0;
    
}

.send-message-form input:focus {
    outline-width: 0;
}

.send-message-form input::placeholder {
    color:#5ea3d0;
}

.chatbot-header {
    background-color: #5F5061;
    width: 100%;
    color: white;
    font-size: 20px;
    padding: 10px;
}

/* ///////////////////////////CHATBOT///////////////////////////////////////////// */

/* ////////////////////////////DANGER FORM //////////////////////////////////////// */

.danger-form {
    padding: 20px;
    box-shadow: 0px 0px .5px 0px rgba(0,0,0,0.75);
    width:100%;
    
}

.danger-score {
    font-size: 60px;
    color: red;
    align-items: center;
    width:100%;
}

.dangerLevel-chart {
    height: 10vh;
    width:100%;
    align-items: center;
    padding: 20px;
    font-size: 26px;
    text-align: center;
    
}

.danger-button {
    color: white;
    background: #47444B;
    margin-left: 10px;
    border-radius: 12px;
}
.red{

    background-color: red;
}

.yellow {
    background-color: yellow;
    margin-bottom: 60px;
}

.orange {
    background-color: orange;
    
}

/* media queries------------------ */
@media (max-width: 768px) {
.pplgrid {
  display: none;
}

.last-section{
    margin: 0 auto;
    padding: 0 20px;
    padding-top: 30px;
    border: none;
}

.rborder{
    border: none;
}

.big-link-resources.card-body, .big-link-prevent.card-body, .big-link-involved.card-body {
    margin: 0 auto;
    margin-bottom: 20px;
}

.media-heading{
    width:100%;
    padding-right: 0;
    background: #5f5061;
}
.selector {
    width: 35vw;
  
}

.home-container {
    padding:0 15px;
}

ul.copyrightInfo {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    justify-items: center;
    text-align: center;
}

.counter-container{
    display: none;
}

}
